.navbar {
    padding: 0rem 1rem;
}

.border_path {
    stroke: #d3d3d3;
    fill: none;
    stroke-width: 2;
}

.axis text {
    font-family: Monaco, sans-serif;
    font-size: 0.6rem;
    stroke-width: 0.5;
    fill: #000;
}

.grid_major, .grid_minor {
    fill: none;
}
.grid_major > g {
    stroke: #808080;
    stroke-width: 1;
}
.grid_minor > g {
    stroke: #cccccc;
    stroke-width: 1;
}
.axis-label {
    font-size: 0.8rem;
    fill: #000;
}
.signame-label {
    font-size: 3rem;
    fill: #000;
    stroke-width: 2;
}
.info-label {
    font-size: 1rem;
    fill: #000;
    stroke-width: 1;
}